// https://www.colourlovers.com/palette/694737/Thought_Provoking

$color-1: #ECD078;
$color-2: #D95B43;
$color-3: #C02942;
$color-4: #542437;
$color-5: #53777A;

$header-color: $color-2;

$loader-color: $color-5;
